<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConfigurationService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IConfigurationService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://usvm-xpco-01.support.us.local/ManagementServer/ConfigurationApiService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfigurationService"
                contract="ConfigurationApiService.IConfigurationService" name="BasicHttpBinding_IConfigurationService" />
            <endpoint address="http://usvm-xpco-01/ManagementServer/ConfigurationApiService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConfigurationService"
                contract="ConfigurationApiService.IConfigurationService" name="WSHttpBinding_IConfigurationService">
                <identity>
                    <userPrincipalName value="JH@Support.us.local" />
                </identity>
            </endpoint>
            <endpoint address="urn:videoos:management:server:configurationapiservice"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConfigurationService"
                contract="ConfigurationApiService.IConfigurationService" name="WSHttpBinding_IConfigurationService1">
                <identity>
                    <userPrincipalName value="JH@Support.us.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
